div {
  border: 1px solid black;
}

body {
  margin: 5em 5em;
  font-family: "Lucida Grande", Arial, Serif;
}

.flow {
    display: flex;
}

.flow .title {
  height: auto;
  width: 150px;
}

.flow .inputs {
  height: auto;
  width: 150px;
  padding: 1em 0;
  text-align: center;
}

.flow .searching {
  height: auto;
  width: 150px;
  padding: 1em 0;
  text-align: center;
}

.flow .arrow {
  height: auto;
  width: 150px;
  padding: 1em 0;
  //text-align: center;
}

.arrow-image {
  height: auto;
  width: 100px;
  transition: 10s all ease;

  /* animation-name: slide;
  animation-duration: 4s;
    animation-iteration-count: 3;
    animation-direction: normal; */
}
/*
@keyframes slide {
    0%   {left:0px; top:0px;}
    50%  {left: 50px; top:0px;}

    100% {left:100px; top:0px;}
} */

/*
.arrow-image.ng-hide-add,
.arrow-image.ng-hide-remove {
  display: block !important;
}
*/

.arrow-image.ng-hide-remove,
.arrow-image.ng-hide-add.ng-hide-add-active {
  margin-left: 0px;
  opacity: 0;
}


.arrow-image.ng-hide-remove.ng-hide-remove-active,
.arrow-image.ng-hide-add {
  margin-left: 85%;
  opacity: 1;
  animation-fill-mode: forwards;
}

.flow .results {
  height: auto;
  width: 150px;
  text-align: center;
}

.flow .image-array {
  height: auto;
  width: 150px;
}

.flow .stretch {
    flex: 1;
}

.title-image {
  height: 10em;
  background: url("../images/ng-instagram.png") center no-repeat;
  background-size: 50%;
  padding-top: 0.5em;
  margin-top: 0.5em;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 14px;
}
