<!DOCTYPE html>
<html lang="en" ng-app="instagramSearcher">
<head>
  <meta charset="UTF-8">
  <title>Instagram Searcher</title>
  <link href="css/style.css" rel="stylesheet">
  <script src="https://code.angularjs.org/1.3.10/angular.js"></script>
  <script type="text/javascript" src="https://code.angularjs.org/1.3.10/angular-animate.min.js"></script>
  <script src="./js/inst_searcher.js"></script>
</head>
<body>
  <header class="flow">
    <div class="title stretch">
      <div class="title-image"></div>
    </div>
  </header>
  <section ng-controller="inputCtrl">
    <section class="flow">
      <div class="inputs stretch">
        <form name="myForm" ng-submit="submit()" novalidate>
          <input type="text" ng-model="input.inputText" required/>
          <input type="submit" value="Submit">
        </form>
        <span class="error" ng-model="errorMsg">{{ errorMsg }}</span>
      </div>
    </section>
    <section class="flow">
      <div class="searching stretch" ng-show="searching">
        <p>Searching Instagram for photos tagged with "{{ input.searchText }}"
        </p>
      </div>
    </section>
    <section class="flow">
      <div class="arrow stretch">
        <img class="arrow-image" src="./images/red-arrow.svg" alt="Arrow" ng-show="searching">
      </div>
    </section>
    <section class="flow">
      <div class="results stretch">
        <p> We found X results for "..."
        </p>
      </div>
    </section>
    <section class="flow">
      <div class="image-array stretch">
        <p> Images...
        </p>
      </div>
    </section>
  </section>

</body>
</html>
